table, th, td {
			border: 1px solid black;
			padding: 20px;
			margin: 50px auto;
		}
		button {
			background-color: transparent;
			border: transparent;
			font-size: 1em;
		}
		body {
			font-size: 25px;
		}
		container {
			text-align: center;
		}
		#thumbwrap {
			border: 10px solid black;
